*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ 
    min-height: 100vh; 
}

.bordeyfonodo0{
    background-color: rgb(184, 179, 179);
    border: 1px solid black;
}

.elementoMenu{
    background-color: white;
    border: 1px solid black;
}

.elementoMenu > a{
    color: black;
}

.bordeyfondo1{
    background-color: rgb(231, 229, 229);
    border: 1px solid black;
}

.flecha{
    max-width: 55px;
}

.sombreado{
    box-shadow: -10px -10px 15px -2px rgba(0, 0, 0, 0.75);
}

/* .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #333;
    border-color: #333;
}
 */

 img.imagenGrisada {               
    opacity: 0.15;
    filter: alpha(opacity=40);
    zoom: 1;  /* needed to trigger "hasLayout" in IE if no width or height is set */ 
 }

 .table tr td{
    padding: 0 5px;
    height: 25px;
 }